# -----------------------------------------------------------------------------
# Operating System
# -----------------------------------------------------------------------------

.DS_Store
Thumbs.db
Desktop.ini
*~

# -----------------------------------------------------------------------------
# Git
# -----------------------------------------------------------------------------

*.orig
